Dashboard.json
{
  "name": "Dashboard",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"requête\": \"Donne-moi une de 10 {{ $('Replace Me').item.json.categorie }} au hasard avec les informations suivantes : nom, année de sortie, tags (3 maximum), le lien YouTube de la musique la plus connue du film.\n  **Format de sortie :** JSON.\n  **Exclusions :** [{{ $json.titres }}].\n  **Critères supplémentaires :** Le film doit être connu pour sa bande originale ou sa musique emblématique.\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        144,
        -112
      ],
      "id": "e230c3b6-e824-4f6c-abb2-5d16efb02dab",
      "name": "AI Agent",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        144,
        -272
      ],
      "id": "46bc55e3-c6d0-4130-8819-1d5facb12a56",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "4SSUovuG26twmkxF",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -288
      ],
      "id": "83879374-84be-4e9e-9eaa-3d3f49e60ab5",
      "name": "Trigger",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -304,
        -208
      ],
      "id": "6396efb0-48c2-4345-b4dc-56fc43ab8bf4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"categorie\": [\n    \"Film\",\n    \"Série\",\n    \"Jeux vidéo\",\n    \"Musique\"\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        -96
      ],
      "id": "6995708b-5500-459c-a13e-469c4601c334",
      "name": "Liste catégories"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"liste\" : [\n    {\n      \"libelle\" :\"titre\",\n      \"annee\" : 20215,\n      \"tags\" : [ \"sf\", \"action\"],\n      \"lien\" : \"https://www.youtube.com/watch?v=oksESAMg7WM\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        -272
      ],
      "id": "bb7bde9d-bd0b-400b-8cdf-e52a1cb5f9b6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "titres",
          "mode": "list",
          "cachedResultName": "titres"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "libelle",
              "value": "={{ $json.libelle }}"
            },
            {
              "column": "lien",
              "value": "={{ $json.lien }}"
            },
            {
              "column": "type",
              "value": "={{ $('Replace Me').item.json.categorie }}"
            },
            {
              "column": "annee",
              "value": "={{ $json.annee }}"
            },
            {
              "column": "tags",
              "value": "={{ $json.tagListe }}"
            },
            {
              "column": "poids",
              "value": "1"
            },
            {
              "column": "disable",
              "value": "1"
            },
            {
              "column": "created_at",
              "value": "={{ $('Set timestamp').item.json.formattedTimestamp }}"
            },
            {
              "column": "updated_at",
              "value": "={{ $('Set timestamp').item.json.formattedTimestamp }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1840,
        -112
      ],
      "id": "92a4777c-2477-4cfd-aab7-5f3811056962",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "271M18FYb3nq4Rtb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst mysqlTimestamp = now.toISOString().slice(0, 19).replace('T', ' ');\n\nreturn [{\n  json: {\n    formattedTimestamp: mysqlTimestamp\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -80
      ],
      "id": "a067503d-0480-4b54-82f8-8e13fe674fcc",
      "name": "Set timestamp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d904bd17-293d-401e-9262-dc7be61ba2a1",
              "name": "lien",
              "value": "=https://www.youtube.com/watch?v={{ $json.items[0].id.videoId }}",
              "type": "string"
            },
            {
              "id": "42713090-a052-4fe6-b977-e4ba77769df8",
              "name": "tagListe",
              "value": "={{ $('Update tags').item.json.tagListe }}",
              "type": "string"
            },
            {
              "id": "d996b5e8-5890-4fb8-98db-04d3605fbbb5",
              "name": "libelle",
              "value": "={{ $('Update tags').item.json.libelle }}",
              "type": "string"
            },
            {
              "id": "2d19a64e-45a2-4393-ae2c-28870701b8d2",
              "name": "annee",
              "value": "={{ $('Update tags').item.json.annee }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -112
      ],
      "id": "f007f1bd-f844-4a98-b68b-aa6446610c15",
      "name": "reset video"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "q",
              "value": "={{ $json.libelle }}+ ' ost'"
            },
            {
              "name": "maxResults",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        -112
      ],
      "id": "fad43eb6-2130-483b-9c32-7d361c7ae14d",
      "name": "Get video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "t2Aac8ECWgtvOVDe",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "categorie",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -720,
        -96
      ],
      "id": "439d2e8b-4e87-4611-a057-41b17100de00",
      "name": "Séparation catégories"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        -224
      ],
      "id": "21f39923-8251-46c5-986c-b92b428a0b43",
      "name": "Parcours catégorie",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT GROUP_CONCAT(libelle SEPARATOR ', ') as titres from titres where Type='{{ $json.categorie }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -112,
        -208
      ],
      "id": "9f1a1b62-2733-4290-9a6d-315d607a3d90",
      "name": "select titres existants",
      "credentials": {
        "mySql": {
          "id": "271M18FYb3nq4Rtb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.liste",
        "include": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        -112
      ],
      "id": "82ec6698-f33d-47cf-a3e3-542982e1d074",
      "name": "séparation résultat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2a05d28-009c-4fb7-8501-6cfbab2b84af",
              "name": "tagListe",
              "value": "={{ $json['output.liste'].tags }}",
              "type": "string"
            },
            {
              "id": "a6358816-4c17-4c8d-9aa7-1c1c48d91d12",
              "name": "libelle",
              "value": "={{ $json['output.liste'].libelle }}",
              "type": "string"
            },
            {
              "id": "909fc666-4e5a-45a6-8ada-da189b11af6c",
              "name": "annee",
              "value": "={{ $json['output.liste'].annee }}",
              "type": "string"
            },
            {
              "id": "bd0d077b-a667-4da9-90ba-6e7ae47c406b",
              "name": "lien",
              "value": "={{ $json['output.liste'].lien }}",
              "type": "string"
            },
            {
              "id": "a81a7f0f-23b5-4c97-b8bf-7cd4d88b4fbd",
              "name": "videoId",
              "value": "={{ $json['output.liste'].lien.split(\"v=\")[1].split(\"&\")[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -112
      ],
      "id": "c9d54d91-9bde-42b1-bbb3-1eba2ae60b54",
      "name": "Update tags"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Set timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "select titres existants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liste catégories": {
      "main": [
        [
          {
            "node": "Séparation catégories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "séparation résultat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Parcours catégorie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set timestamp": {
      "main": [
        [
          {
            "node": "Liste catégories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset video": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video": {
      "main": [
        [
          {
            "node": "reset video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Séparation catégories": {
      "main": [
        [
          {
            "node": "Parcours catégorie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parcours catégorie": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select titres existants": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "séparation résultat": {
      "main": [
        [
          {
            "node": "Update tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update tags": {
      "main": [
        [
          {
            "node": "Get video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "076b5bf1-ed27-493c-94d0-0673d21c31a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d78269844155b16763cd6a1b9fa82bcc03330ef55859288798361eaa98869456"
  },
  "id": "IwdDihBik9KLSlKj",
  "tags": []
}